{% extends 'sanmarcosapp/index.html' %} {% load static %} {% block content %}

<br />
<br />
<br />
<br />

<center>
  <img margin-top="50px" width="300px" height="150px" src="{% static 'assets/img/origenes.jpg' %}" alt="" />
</center>

<div class="w-50 p-3 mx-auto mt-3 mb-3" style="background-color: #eee">
  <h5>
    El origen de la Universidad Nacional Mayor de San Marcos, es también el origen de la educación superior en el Perú y América, el cual se remonta a
    la creación de los Estudios Generales que funcionaron en los claustros del Convento del Rosario de la orden de los predicadores, actual Convento
    de Santo Domingo. La creación de los Estudios Generales o Universidad de Lima, respondió al objetivo de mantener y garantizar el orden colonial, y
    para desarrollar el conocimiento. De allí la preocupación de la Iglesia y la Corona española por su funcionamiento, pues de ello dependía la
    formación de nuevos dirigentes para la administración colonial y para el clero católico.
  </h5>
</div>

<center>
  <a class="btn btn-outline-secondary" href="/index.html">Regresar Menú Principal</a>
</center>

<br />
<br />
<br />
<br />
<br />

{% endblock %}
