{% extends 'sanmarcosapp/index.html' %} {% load static %} {% block content %}

<br />
<br />
<br />
<br />

<div align="center">
  {% if administrativos %} {% for administrativo in administrativos %}

  <p>Nombre : {{ administrativo.nombre }}</p>
  <p>Cargo : {{ administrativo.cargo }}</p>

  {% endfor %} {% else %}

  <p>No se encontraron resultados</p>

  {% endif %}

  <a class="btn btn-outline-secondary" href="/administrativos.html">Regresar atras</a>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

{% endblock %}
